// Base styles

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

p {
  margin: 0 0 1rem;
  line-height: 1.8;
}

a {
  color: var(--link-color);
}

::-moz-selection {
  color: var(--wpe--color--white);
  background-color: var(--wpe--color--accent);
}

::selection {
  color: var(--wpe--color--white);
  background-color: var(--wpe--color--accent);
}
