// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

// @import "breakpoints";
// @import "css-variables";
// @import "base";
// @import "utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-open {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px) brightness(0.5);
  z-index: 10; /* or any higher number */
}

.isi-warningbox {
  @apply border border-black border-2 px-4 py-2 my-2;
}

.isi > * {
  @apply text-xl mt-4;
}

.isi > ul {
  @apply list-disc;
}

.isi li {
  @apply ml-4;
}

.isi-warning-header {
}
